/* Hero Basic
========================================================= */

.hero-basic {
  @include hero-gradient;
  padding-top: 40px;
  padding-bottom: 60px;

  &--heading {
    .inner {
      text-align: center;
      p {
        color: white;
        font-size: em(14);
        text-transform: uppercase;
      }
      h1 {
        margin-top: 20px;
        color: white;
        @include for-size(tablet-sm, up) {
          font-size: em(58);
        }
      }
    }
  }
}
