/* Sponsored Ad
========================================================= */

.sponsored {
  padding-top: 16px;
  padding-bottom: 16px;

  @include for-size(tablet-sm) {
    padding: 32px;

    .container {
      flex-direction: column;

      .sponsored--title {
        margin-bottom: 10px;
        max-width: 100%;
      }

      .sponsored--content {
        max-width: 100%;
      }
    }
  }

  .container {
    align-items: center;
    justify-content: space-evenly;
  }

  &--title {
    flex: none;
    max-width: 40%;
  }

  &--content {
    flex: none;
    max-width: 60%;

    img {
      display: block;
    }

    p {

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
