/* Sponsored Ad
========================================================= */

.sponsored-ad {
  padding-top: 16px;
  padding-bottom: 16px;
      @include for-size(tablet-sm) {
      padding: 32px;
      padding-bottom: 32px;
      .container {
        flex-direction: column;
        .sponsored-ad--title {
          margin-bottom: 24px;
        }
      }
    }
  .container {
    align-items: center;
  }

  &--title {
    flex: 1 1 40%;

  }

  &--content {
    flex: 1 1 60%;
    img {
      display: block;
    }
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
