
h1, h2, h3, h4, h5, h6 {
  color: #215378;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0 0 20px 0;
  font-family: "interstate",sans-serif;
}
h1 {
  font-size: 45px;
  font-weight: bold;
}
h2 {
  font-size: 36px;
  font-weight: 500;
  color: #1796a4;
}
h3 {
  font-size: 32px;
  text-transform: none;
}
h4 {
  font-size: 26px;
  color: #1796a4;
}
h5 {
  font-size: 22px;
  color: black;
  font-weight: bold;
}
h6 {
  font-size: 18px;
  font-weight: bold;
}

p, li{
  color: #5c5c5c;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: "interstate",sans-serif;
}
ul li {
  margin-bottom: 10px;
}
